<nav class="navbar">
  <div class="navbar__container">
    <ul class="navbar__list">
      <li class="navbar__item"><a href="#" class="navbar__anchor">All</a></li>
      <li class="navbar__item">
        <a href="#" class="navbar__anchor">Programming</a>
      </li>
      <li class="navbar__item">
        <a href="#" class="navbar__anchor">Web Development</a>
      </li>
      <li class="navbar__item">
        <a href="#" class="navbar__anchor">Security</a>
      </li>
    </ul>
    <app-shopping-cart></app-shopping-cart>
  </div>
</nav>
