.card {
  position: relative;

  padding-top: 88px;
  width: 296px;

  &__book-cover-container {
    position: absolute;
    top: 0px;
    left: 24px;
  }

  &__book-cover {
    display: block;
    width: 140px;
    height: 172px;
  }

  &__container-information {
    background-color: white;
    padding: 0px 24px 16px 24px;
    border-radius: 10px;

    &:hover {
      outline: 3px solid var(--black);
    }
  }

  &__value-container {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 112px;
  }

  &__value {
    color: var(--black);
    font-size: 26px;
    font-weight: 500;
    word-wrap: break-word;
  }

  &__title {
    font-size: 19px;
    font-weight: 600;
    word-wrap: break-word;
    margin: 0px;
  }

  &__description {
    color: var(--text);
    height: 80px;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__author {
    color: #666666;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
  }
}
