<div class="card">
  <div class="card__book-cover-container">
    <app-book-cover
      class="card__book-cover"
      [thumbnail]="book.thumbnail"
    ></app-book-cover>
  </div>
  <div class="card__container-information">
    <div class="card__value-container">
      <span class="card__value">${{ book.price }}</span>
    </div>
    <h2 class="card__title">{{ book.title }}</h2>
    <p class="card__description">
      {{ book.description }}
    </p>
    <p class="card__author">By {{ book.author }}</p>
    <app-button
      [showIcon]="true"
      [fullContent]="true"
      (clickButton)="handleClick()"
      >ADD TO CART</app-button
    >
  </div>
</div>
