.detail-book {
  display: flex;
  gap: 24px;

  &__cover {
    width: 120px;
    height: 152px;
  }

  &__body {
    width: 196px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__title {
    color: var(--black);
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    text-align: start;
  }

  &__remove {
    background-color: transparent;
    color: #555555;
    font-size: 15px;
    font-weight: 300;
    word-wrap: break-word;
    border: none;
    padding: 0;

    :hover {
      background-color: #f0f0f0;
    }
  }
}
