<button
  [ngClass]="{
    button: true,
    'button--full': fullContent,
    'button--secondary': variant === 'secondary'
  }"
>
  <span class="button__container"
    ><svg
      class="button__icon"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      *ngIf="showIcon"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 12h14m-7 7V5"
      />
    </svg>
    <span [ngClass]="{
      'button__label': true,
      'button__label--secondary': variant === 'secondary'
    }">
      <ng-content></ng-content>
    </span>
  </span>
</button>
