<div class="card">
  <div class="card__book-cover-container">
    <app-book-cover class="card__book-cover"></app-book-cover>
  </div>
  <div class="card__container-information">
    <div class="card__value-container">
      <span class="card__value">$36.99</span>
    </div>
    <h2 class="card__title">Javascript from Beginner to Professional</h2>
    <p class="card__description">
      This book demonstrates the capabilities of JavaScript for web application
      development by combining theo...
    </p>
    <p class="card__author">By Laurence Svekis</p>
    <app-button [showIcon]="true" [fullContent]="true">ADD TO CART</app-button>
  </div>
</div>
